@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Oleo+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav-link {
    color: #002d80;
}
.nav-link:hover{
    font-weight: 700;
    color: rgb(0, 0, 12);
}
.amazon{
    position: fixed !important;
    width: 60px;
    height: 60px;
    background-color: transparent;
    top: 400px;
    right: 0px;
    cursor: pointer;
    
}
.amazon img{
    width: 50px;
    width: 50px;
}
.styled_text{
    font-family: 'Oleo Script', cursive;
    font-size: 50px;
    transform: rotate(-8deg);
}
.view-button1{
    background-color: transparent;
    border-width: 1px;
    width: 80px;
    height: 40px;
    border-radius: 18px;
    margin-left: 60px;
    border-color:  white;
    color: white;
    font-weight: 600;
}
.view-button1:hover{
    background-color: white;
    color: blue;
}
.view-button2{
    background-color: transparent;
    border-width: 1px;
    width: 80px;
    height: 40px;
    border-radius: 18px;
    margin-left: 60px;
    border-color:  white;
    color: white;
    font-weight: 600;
}
.view-button2:hover{
    background-color: white;
    color: blue;
    
}

footer{
     background-color: #EBEBEB;
}


.section_3{

 background-image: linear-gradient(90deg,#002d80,#0076bb);


}
